server {
    listen 80;
    server_name {{DOMAIN}} {{FILE_SUBDOMAIN}};

    root {{WEBROOT}};
    index index.html index.htm;

    # ACME HTTP-01 challenge
    location /.well-known/acme-challenge/ {
        root {{WEBROOT}};
    }

    # Redirect everything else to HTTPS once cert exists
    location / {
        return 302 https://$host$request_uri;
    }
}
